{
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "README.md",
      "options": {
        "requirePragma": true
      }
    }
  ],
  "pluginSearchDirs": ["."]
}
